.countdown-overlay {
    position: fixed;
    height: 50vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.countdown-number {
    font-size: 20vw;
    color: black;
    font-weight: 500;
    z-index: 10;
    position: relative;
    line-height: 1;
}

.wipe-overlay {
    position: absolute;
    height: 50vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}