.dockWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 510px; 
    border-radius: 8px;
    background-color: #fff;
    padding: 20px 12px;
    margin-top: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.dockScroll {
    display: flex;
    animation: scrollDock 10s linear infinite;
}
  
.dockItem {
    display: flex;
}

.dockIcon {
    width: 28px;
    height: 28px;
    margin: 0 8px;
    margin-right: 16px;
    background-color: rgba(208, 230, 236, 0.1);
    border: solid 1px #B2D4DA33;
    padding: 14px;
    border-radius: 12px;
}

@keyframes scrollDock {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* 양 옆 블러 */
.dockWrapper::before,
.dockWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 1;
  border-color: 1px #3d9cad;
}

.dockWrapper::before {
  left: 0;
  background: linear-gradient(to right, white 20%, transparent);
}

.dockWrapper::after {
  right: 0;
  background: linear-gradient(to left, white 20%, transparent);
}
