.frameContainer {
  min-height: 100vh;
  height: 1920px;
  background: url('/src/assets/frame.png') no-repeat center top;
  background-size: 950px 1038px;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 45px;
  overflow: hidden;
}

.buttonGrid {
  position: absolute;
  top: 37%; 
  /* 필요시 위치 조정 */
  left: 38%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 110px);
  grid-template-rows: repeat(2, 95px);
  gap: 20px;
}

.cardButton {
  left: 44.5%;
}

.touchButton {
  top: 42.5%;
}

.emailButton {
  left: 44.5%;
  top: 42.5%;
}

/* 하늘색 화면이 나올 위치와 크기 지정 */
.frameScreen {
  height: 100%;
  border-radius: 20px;;
  overflow-y: auto;
  /* 스크롤바 숨기기 - 크로스 브라우저 대응 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  /* position: relative; 이거 있으면 z-index stacking context 생김 */
  z-index: 1; /* 낮은 값 */
}

.frameBackground{
  position: absolute;
  border-radius: 20px; 
  top: 8.7%;
  left: 35.1%;
  background: #D6EDF3; 
  width: 572px;
  height: 378px;
  /* z-index: 2; */
  overflow: hidden;
}