.header{
  font-size: 13px;
  font-weight: 600;
  color: #1C1C1C;
  width: 100%;
  padding: 14px 0;
  background-color: white;
  border: solid 1px #B2D4DA;
  border-radius: 10px;
  text-align: center;
}

.maincontainer{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  background-color: white;
  border: solid 1px #b2d4da;
  border-radius: 10px;
  width: 100%;
}

.sketchbox{
  padding: 5px 5px 5px 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.colorchip{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 40px;
}

.colorchip>div>div{
  width: 28px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.colorchip>div>p{
  font-size: 11px;
  font-weight: 300;
  margin: 0;
  color: #aaaaaa
}

.footer{
  font-size: 12px;
  font-weight: 600;
  color: #1C1C1C;
  width: 100%;
  padding: 14px 0;
  background-color: white;
  border: solid 1px #B2D4DA;
  border-radius: 10px;
  text-align: center;
}